<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>122029255586-blfgucf0mf8pd5t4mevrtkmj9shdmrib.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.122029255586-blfgucf0mf8pd5t4mevrtkmj9shdmrib</string>
	<key>API_KEY</key>
	<string>AIzaSyDRxbI4pAXT5V3HnEPxWOMAIQ6bdhI2LPY</string>
	<key>GCM_SENDER_ID</key>
	<string>122029255586</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Smorgun.CoffeeApp</string>
	<key>PROJECT_ID</key>
	<string>coffeapp-fdea0</string>
	<key>STORAGE_BUCKET</key>
	<string>coffeapp-fdea0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:122029255586:ios:8059fd0db37220f71a20fb</string>
</dict>
</plist>